<section class="add-section">
  
  <div class="form-flex">
    <input
      type="text"
      id="title"
      placeholder="Movie title"
      {{on "input" @updateTitle}}
      value={{@newTitle}}
    />
    <input
      type="text"
      id="director"
      placeholder="Director name"
      {{on "input" @updateDirector}}
      value={{@newDirector}}
    />
    <button class="add-btn" type="button" {{on "click" @addMovie}}>
      Add Movie
    </button>
  </div>
</section>


