{{page-title "AddMovie"}}
<div class="container">
  <h1 class="main-title">Add New Movie</h1>
  
  <AddMovieForm
    @newTitle={{this.newTitle}}
    @updateTitle={{this.updateTitle}}
    @newDirector={{this.newDirector}}
    @updateDirector={{this.updateDirector}}
    @addMovie={{this.addMovie}}
  />
  
  <div class="">
    <button class="" {{on "click" this.cancel}}>Cancel</button>
  </div>
</div>
{{outlet}}