<div class="container">
  <h1 class="main-title">Movie Collection</h1>

  <SearchMovies @updateSearch={{this.updateSearch}} />

  <MovieTable
    @deleteSelected={{this.deleteSelected}}
    @filteredMovies={{this.filteredMovies}}
    @toggleSelect={{this.toggleSelect}}
    @editMovie={{this.editMovie}}
    @deleteMovie={{this.deleteMovie}}
  />

  <section class="actions">
    <h2 class="new-movie-head">Add a new movie to the list</h2>
    <button class="add-movie-button" {{on "click" this.navigateToAddMovie}}>Add
      Movie</button>
  </section>
</div>